.additional-goods-card {
  margin-bottom: 25px;

  border-top: 1px solid $palette-border-darken;
}

.additional-goods-card__wrapper {

}

.additional-goods-card__title {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-right: 10px;

  @include font-primary-normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  a {
    color: $palette-title;
    text-decoration: none;
  }
}

.additional-goods-card__table {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.additional-goods-card__td {
  @include font-secondary-normal;
  font-size: 12px;
  line-height: 16px;
  color: $palette-paragraph;

  &--right {
    text-align: right;
  }
}

.additional-goods-card__btn {
  width: 100%;
}

.additional-goods-card__info-special {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 280px;
  height: 290px;
  margin-top: 40px;

  background-color: $palette-primary;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
}

.additional-goods-card__title-special {
  position: relative;

  margin: 0;
  padding: 0 60px;
  padding-top: 120px;

  @include font-secondary-normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 55px;
    height: 60px;
    margin-left: -27px;

    background-image: url("../img/icon-gift.svg");
    background-size: 55px 60px;
    background-position: center;
  }
}
