.additional-goods {
  padding-top: 29px;

  overflow-x: hidden;
}

.additional-goods__wrapper {
  @include wrapper;
}

.additional-goods__title {
  @include wrapper;
  position: relative;

  margin-bottom: 35px;

  @include font-primary;
  font-size: 24px;
  line-height: 1;
  color: $palette-title;

  span {
    display: inline-flex;
    flex-shrink: 5;
    padding-right: 15px;

    background-color: #00ffff;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;

      width: 2000px;
      height: 3px;

      background-color: $palette-primary;

      z-index: -1;
    }
  }
}
