.concept {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: $palette-background;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: -30px;
    padding-top: 45px;
    padding-bottom: 65px;
    border-top: 1px solid $palette-border-lighten;
    background-color: transparent;
    &::after {
      content: "";
      position: absolute;
      top: calc(100% - 460px);
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: $palette-background;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
}

.concept__wrapper {
  @include wrapper;
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.concept__content {
  @media (min-width: $desktop-width) {
    width: 450px;
    margin-right: auto;
  }
}

.concept__title {
  margin: 0;
  margin-bottom: 35px;

  @include font-primary;
  font-size: 36px;
  line-height: 1;
  color: $palette-title;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 145px;
  }
}

.concept__text {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 10px;
  p {
    margin: 0;
    margin-bottom: 20px;
    @include font-secondary;
    font-size: 14px;
    line-height: 18px;
    color: $palette-paragraph;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.concept__stats {
  margin-bottom: 40px;
  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.concept__info {
  margin: 0;
  margin-bottom: 33px;

  @include font-primary;
  font-size: 14px;
  line-height: 20px;
  color: $palette-title;
  text-align: center;
  text-transform: uppercase;
}

.concept__range {
  @media (min-width: $desktop-width) {
    margin-top: -57px;
  }
}
