.contacts {
  position: relative;
  z-index: 1;
  background-color: $palette-inverse;
  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.contacts__wrapper {
  @include wrapper;
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__content {
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: $palette-inverse;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 57px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 110px;
    top: 100px;
    z-index: 1;
    width: 570px;
    padding: 65px 75px;
  }
}

.contacts__title {
  margin: 0;
  margin-right: auto;
  @include font-primary;
  font-size: 16px;
  line-height: 20px;
  color: $palette-title;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__text {
  @include font-secondary;
  font-size: 14px;
  line-height: 20px;
  color: $palette-paragraph;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: right;
  }
}

.contacts__last-line {
  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.contacts__map {
  width: 100%;
  height: 362px;
  background-color: #e8e8e8;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
