.major-goods {
  padding-top: 29px;
}

.major-goods__wrapper {
  @include wrapper;
}

.major-goods__title {
  @include wrapper;
  margin-bottom: 38px;

  @include font-primary;
  font-size: 36px;
  line-height: 1;
  color: $palette-title;
}
