.page-footer {
  position: relative;
  z-index: 1;
  padding-top: 38px;
  padding-bottom: 20px;
  background-color: $palette-background;
  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 50px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.page-footer__wrapper {
  @include wrapper;
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__logo {
  margin-bottom: 18px;
  padding-bottom: 30px;
  border-bottom: 1px solid $palette-border-darken;

  @media (min-width: $tablet-width) {
    width: 33%;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.page-footer__logo-link {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: auto;
  }
}

.page-footer__logo-name {
  display: block;
  width: 128px;
  height: 24px;
}

.page-footer__social {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid $palette-border-darken;

  @media (min-width: $tablet-width) {
    width: 33%;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.page-footer__copyright {
  @media (min-width: $tablet-width) {
    width: 33%;
  }
}
