.promo {
  position: relative;
  min-width: 280px;
  box-sizing: border-box;
  @media (min-width: $tablet-width) {
    min-height: 778px;
    margin-top: 36px;
    padding-bottom: 30px;
  }
  @media (min-width: $desktop-width) {
    min-height: 695px;
    margin-top: 0;
  }
}

.promo__wrapper {

  @include wrapper;
  padding-top: 28px;
  text-align: center;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;
    bottom: 175px;
    background-color: #64a83b;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
  @media (min-width: $tablet-width) {
    padding-top: 0;
    text-align: left;
    &::after {
      display: none;
    }
  }
  @media (min-width: $desktop-width) {
    padding-top: 225px;
    &::after {
      top: 0;
      left: calc(50% + 40px);
      right: 0;
      bottom: 0;
      display: block;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: right bottom;
      background-size: contain;
    }
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  @include font-primary;
  font-size: 36px;
  line-height: 36px;
  color: $palette-inverse;
  text-align: center;
  @media (min-width: $tablet-width) {
    margin-left: 87px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    color: $palette-title;
    text-align: left;
  }
  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 28px;
  @include font-primary;
  font-size: 14px;
  line-height: 14px;
  color: $palette-inverse;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    margin-left: 80px;
    margin-bottom: 43px;
    font-size: 20px;
    line-height: 20px;
    color: $palette-title;
    text-align: left;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.promo__image-wrapper {
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 3px;
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    width: 709px;
    height: 609px;
    margin-top: -24px;
  }
  @media (min-width: $desktop-width) {
    top: 165px;
    left: calc(50% - 160px);
    width: 552px;
    height: 499px;
    margin-left: 0;
  }
}

.promo__image {
  display: block;
  width: 280px;
  height: 270px;
  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }
  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.promo__btn {
  width: 100%;
  padding: 13px;
  font-size: 14px;
  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    padding: 16px 26px;
    margin-left: 90px;
    font-size: 20px;
  }
  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
