.promo {
  min-width: 280px;
  @media (min-width: $tablet-width) {
    height: 825px;
  }
  @media (min-width: $desktop-width) {
    height: 700px;
  }
}

.promo__wrapper {
  position: relative;
  @include wrapper;
  height: 100%;
  padding-top: 25px;
  text-align: center;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;
    bottom: 175px;
    background-color: #64a83b;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
  }
  @media (min-width: $tablet-width) {
    padding-top: 50px;
    text-align: left;
    &::after {
      display: none;
    }
  }
  @media (min-width: $desktop-width) {
    padding-top: 225px;
    &::after {
      top: 0;
      left: calc(50% + 40px);
      right: -2000px;
      bottom: 0;
      display: block;
      background-position: 50px bottom;
    }
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 20px;
  @include font-primary;
  font-size: 36px;
  line-height: 36px;
  color: $palette-inverse;
  text-align: center;
  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    color: $palette-title;
    text-align: left;
  }
  @media (min-width: $desktop-width) {
  }
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 30px;
  @include font-primary;
  font-size: 14px;
  line-height: 14px;
  color: $palette-inverse;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 20px;
    color: $palette-title;
    text-align: left;
  }
}

.promo__image-wrapper {
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 2px;
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 250px;
    left: 50%;
    z-index: -1;
    width: 709px;
    height: 609px;
    margin-left: -355px;
  }
  @media (min-width: $desktop-width) {
    top: 140px;
    left: calc(50% - 137px);
    width: 552px;
    height: 499px;
    margin-left: 0;
  }
}

.promo__image {
  display: block;
  width: 280px;
  height: 270px;
  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }
  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.promo__btn {
  width: 100%;
  padding: 13px;
  font-size: 14px;
  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    padding: 16px 26px;
    margin-left: 90px;
    font-size: 20px;
  }
}
