.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__btn {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 25px;

  background-repeat: no-repeat;
  background-position: center;

  &:last-child {
    margin-right: 0;
  }

  &--vk {
    background-image: url("../img/icon-vk-mobile.svg");
    background-size: 22px 12px;
  }

  &--insta {
    background-image: url("../img/icon-insta-mobile.svg");
    background-size: 16px 16px;
  }

  &--fb {
    background-image: url("../img/icon-fb-mobile.svg");
    background-size: 10px 19px;
  }

  @media (min-width: $tablet-width) {
    &--vk {
      background-size: 30px 16px;
    }

    &--insta {
      background-size: 23px 23px;
    }

    &--fb {
      background-size: 14px 28px;
    }
  }
}
