.stats {
  @media (min-width: $tablet-width) {
    display: flex;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.stats__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include list-none;
  margin-left: -30px;
  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: -42px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 125px;
  margin-left: 30px;
  margin-bottom: 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin-left: 42px;
  }
}

.stats__value {
  width: 100%;
  padding: 15px;
  border: 1px solid $palette-border-darken;
  border-radius: 2px;

  @include font-primary;
  font-size: 24px;
  line-height: 1;
  color: $palette-title;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 20px;
    font-size: 30px;
  }
}

.stats__description {
  flex-shrink: 2;
  width: calc(100% - 15px);
  margin-top: -8px;
  padding: 0 5px;
  background-color: $palette-background;

  @include font-secondary;
  font-size: 12px;
  line-height: 1;
  color: $palette-paragraph;
  text-align: center;
  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $palette-background;
  }
}

.stats__info {
  @include font-primary;
  font-size: 14px;
  line-height: 16px;
  color: $palette-paragraph;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 8px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.stats__info-value {
  @media (min-width: $desktop-width) {
    margin-left: 50px;
  }
}
