@mixin wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $tablet-width) {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

@mixin inline-block {
  display: inline-block;
  vertical-align: top;
}

@mixin list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font-primary {
  font-family: Oswald, Tahoma, sans-serif;
  font-weight: 400;
}

@mixin font-secondary {
  font-family: Arial, sans-serif;
  font-weight: 400;
}

@mixin font-secondary-bold {
  font-family: Arial, sans-serif;
  font-weight: 700;
}
