html,
body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  @include font-secondary;
  font-size: 14px;
  line-height: 24px;
  color: $palette-paragraph;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-left: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
