$tablet-width: 768px;
$desktop-width: 1200px;

$palette-primary: #68b738;
$palette-primary-hover: #5eaa2f;
$palette-secondary: #fdc305;

$palette-inverse: #ffffff;

$palette-title: #111111;
$palette-paragraph: #444444;

$palette-background: #f2f2f2;

$palette-border-lighten: #ededed;
$palette-border-darken: #cdcdcd;
